# History files
.Rhistory
.Rapp.history

# Intermediate and Cache files
admin/Participants.xlsx
admin/Schedule/xlsx
CourseMaterial/*.log
CourseMaterial/*.synctex.gz
CourseMaterial/*.tex
CourseMaterial/Figs/*.pdf
CourseMaterial/figure/*.pdf

.Rproj.user
